APP_ENV=local
APP_DEBUG=true
APP_KEY=ufxhZiQcKxi1eHVmGq8MwfAcRgZHJ1Qq

DB_CONNECTION=sqlite

# Twilio API credentials
# Found at https://www.twilio.com/user/account/settings
TWILIO_ACCOUNT_SID=ACffe9f1b4d781ad31560d3a14382be86c
TWILIO_AUTH_TOKEN=479dbf90f060333e2cf957739c4e220a

# Twilio phone number
# Purchase one at https://www.twilio.com/user/account/phone-numbers/incoming
TWILIO_NUMBER=+13234194825

TWILIO_SID=ACffe9f1b4d781ad31560d3a14382be86c
TWILIO_TOKEN=479dbf90f060333e2cf957739c4e220a
TWILIO_FROM=+13234194825